<%# RECIPE BY ID %>
<h2><%= @drink.name %></h2>
<p>Ingredients: <%= @drink.ingredients %><br>
<img src="<%= @drink.photo_url %>">
<p>
<br>

<%# UPDATE FORM %>
<h3>Update Recipe</h3>
<form action='/drinks/<%= "#{@drink.id}" %>' method="post" class="form">
  Name: <br>
  <input type="text" name="drink[name]" value=""
  >
  <br>
  Ingredients: <br>
  <input type="text" name="drink[ingredients]" value=""
  ><br>
  Image URL: <br>
  <input type="text" name="drink[photo_url]" value=""
  ><br>
  <input type="submit" value="Update">
</form>


<table>
  <tr>
    <td> <%# DELETE BUTTON %>
      <form action="/drinks/<%= @drink.id %>" method="post" class="link">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete Recipe"/>
      </form>
    </td>
    <td><%# RETURN HOME BUTTON%>
      <form method="link" action="/">
        <input type="submit" value="Back to Drink List">
      </form>
    </td>
  </tr>
</table>
